.navsidebar .nav-link.active::after,
.navbar .nav-link.active::after {
	background-color: #7bb928 !important;
	width: 70% !important;
}

.bg-custom-light {
	background-color: #edf0e8;
	/* Remplace la couleur exacte */
}

/* bg-green: Add green background and max-width */
.bg-green {
	background-color: #7bb928;
	max-width: 400px;
}

/* photo-angie: Positioning for the image */
.photo-angie {
	bottom: 20px;
	left: 15px;
	max-width: 400px;
}

html,
body {
	overflow-x: hidden;
}
