/* Navbar */
.btn-navbar {
    border-color: black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    margin-right: 15px;
    padding: 3px 25px 3px 25px;
}

/* Ressources */
.w70 {
    width: 70%;
}